## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,3,Kapaa,US,78.01,moderate rain,22.0752,-159.3190,Sheraton Kauai Resort at Coconut Beach
1,4,Veraval,IN,77.86,overcast clouds,20.9000,70.3667,Lords Inn Somnath
2,9,Laguna,US,75.00,clear sky,38.4210,-121.4238,Holiday Inn Express & Suites Elk Grove Central...
3,11,Victoria,HK,77.00,clear sky,22.2855,114.1577,Mini Hotel Central
4,13,Nabire,ID,82.67,overcast clouds,-3.3667,135.4833,Hotel Nusantara Nabire

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]=="Tabuk"]
vacation_end = vacation_start = vacation_df.loc[vacation_df["City"]=="Tabuk"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Aloleng"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Dicabisagan"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Namuac"] 

df_list = [vacation_start, vacation_end, vacation_stop1, vacation_stop2, vacation_stop3]

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
31,99,Tabuk,PH,82.65,overcast clouds,17.4189,121.4443,Golden Berries Hotel and Convention

In [58]:
#testing to_numpy()
#start = vacation_start({"Lat": [0], "Lng": [0]}).to_numpy()
#start = vacation_start({'Lat': [0], 'Lng': [0]}).to_numpy()
#subset = vacation_start[['Lat', 'Lng']]
#tuples=[tuple(x) for x in subset.to_numpy()]
#tuples

NameError: free variable 'tuple' referenced before assignment in enclosing scope

In [80]:
vacation_start_coord = vacation_start[['Lat', 'Lng']]
start = [tuple(x) for x in vacation_start_coord.to_numpy()]
vacation_end_coord = vacation_end[['Lat', 'Lng']]
end = [tuple(x) for x in vacation_end_coord.to_numpy()]
stop1_coord = vacation_stop1[['Lat', 'Lng']]
stop1 = [tuple(x) for x in stop1_coord.to_numpy()]
stop2_coord = vacation_stop2[['Lat', 'Lng']]
stop2 = [tuple(x) for x in stop2_coord.to_numpy()]
stop3_coord = vacation_stop3[['Lat', 'Lng']]
stop3 = [tuple(x) for x in stop3_coord.to_numpy()]

start[0]

(17.4189, 121.4443)

In [79]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
#start = vacation_start[['Lat', 'Lng']].to_numpy()
#end = vacation_end[['Lat', 'Lng']].to_numpy()
#stop1 = vacation_stop1[['Lat', 'Lng']].to_numpy()
#stop2 = vacation_stop2[['Lat', 'Lng']].to_numpy()
#stop3 = vacation_stop3[['Lat', 'Lng']].to_numpy()
#start[0]

array([ 17.4189, 121.4443])

## Stop 2: In Dicabisagan, Phillipines can not be reached in google directions so it was not added as a waypoint

In [93]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
gmaps.configure(api_key=g_key)
fig = gmaps.figure()
vacation_itenerary = gmaps.directions_layer(start[0], end[0], waypoints=[stop1[0], stop3[0]], travel_mode='DRIVING')
fig.add_layer(vacation_itenerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [105]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,99,Tabuk,PH,82.65,overcast clouds,17.4189,121.4443,Golden Berries Hotel and Convention
1,99,Tabuk,PH,82.65,overcast clouds,17.4189,121.4443,Golden Berries Hotel and Convention
2,157,Aloleng,PH,83.35,overcast clouds,16.1307,119.7824,Agno Umbrella Rocks
3,55,Dicabisagan,PH,81.39,overcast clouds,17.0818,122.4157,Nancy Montanes Bernardo
4,388,Namuac,PH,78.46,overcast clouds,18.6109,121.1657,Mariner's Hub

In [108]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
destination_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]
locations

       Lat       Lng
0  17.4189  121.4443
1  17.4189  121.4443
2  16.1307  119.7824
3  17.0818  122.4157
4  18.6109  121.1657

In [109]:
# 11a. Add a marker layer for each city to the map.
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=destination_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))