In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
g_key

'AIzaSyBQt0MiUQtbj00qEQZjhnXDxRCLreo8Hsk'

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Burnie,AU,2021-04-19 00:41:30,-41.0667,145.9167,57.99,75,100,7.00
1,1,Kailua,US,2021-04-19 00:40:12,21.4022,-157.7394,84.20,61,40,12.66
2,2,Punta Arenas,CL,2021-04-19 00:41:30,-53.1500,-70.9167,48.20,81,0,9.22
3,3,Reconquista,AR,2021-04-19 00:41:30,-29.1500,-59.6500,67.21,68,0,6.91
4,4,Rikitea,PF,2021-04-19 00:41:31,-23.1203,-134.9692,77.92,75,11,6.91

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [11]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
#heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [15]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Kailua,US,2021-04-19 00:40:12,21.4022,-157.7394,84.20,61,40,12.66
4,4,Rikitea,PF,2021-04-19 00:41:31,-23.1203,-134.9692,77.92,75,11,6.91
16,16,Mahebourg,MU,2021-04-19 00:41:34,-20.4081,57.7000,78.80,83,40,11.50
18,18,Makakilo City,US,2021-04-19 00:41:04,21.3469,-158.0858,84.20,42,1,6.91
19,19,Kapaa,US,2021-04-19 00:40:21,22.0752,-159.3190,78.80,61,40,13.80
20,20,Faanui,PF,2021-04-19 00:41:35,-16.4833,-151.7500,82.67,69,0,13.18
21,21,Hilo,US,2021-04-19 00:38:09,19.7297,-155.0900,80.60,57,75,11.50
31,31,Butaritari,KI,2021-04-19 00:41:37,3.0707,172.7902,83.37,74,95,14.32
36,36,Hobyo,SO,2021-04-19 00:41:38,5.3505,48.5268,82.31,72,23,8.43
39,39,Indapur,IN,2021-04-19 00:41:39,18.3000,73.2500,77.88,82,0,3.15

In [16]:
preferred_cities_df.count()

City_ID       176
City          176
Country       175
Date          176
Lat           176
Lng           176
Max Temp      176
Humidity      176
Cloudiness    176
Wind Speed    176
dtype: int64

In [17]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
1          Kailua      US     84.20  21.4022 -157.7394
4         Rikitea      PF     77.92 -23.1203 -134.9692
16      Mahebourg      MU     78.80 -20.4081   57.7000
18  Makakilo City      US     84.20  21.3469 -158.0858
19          Kapaa      US     78.80  22.0752 -159.3190
20         Faanui      PF     82.67 -16.4833 -151.7500
21           Hilo      US     80.60  19.7297 -155.0900
31     Butaritari      KI     83.37   3.0707  172.7902
36          Hobyo      SO     82.31   5.3505   48.5268
39        Indapur      IN     77.88  18.3000   73.2500

In [24]:
hotel_df.dtypes

City           object
Country        object
Max Temp      float64
Lat           float64
Lng           float64
Hotel Name     object
dtype: object

In [31]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
     # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        
        
hotel_df["Hotel Name"]

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

1             Sheffield House Bed & Breakfast
4                              Pension Maro'i
16         Shandrani Beachcomber Resort & Spa
18             Marriott's Ko Olina Beach Club
19     Sheraton Kauai Resort at Coconut Beach
                        ...
558
563               Pousada Monte Carmelo O Pão
568                            Ungoofaaru Inn
570                   Hotel Fazenda Boa Vista
573                           Sur Plaza Hotel
Name: Hotel Name, Length: 176, dtype: object

In [32]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Kailua,US,84.20,21.4022,-157.7394,Sheffield House Bed & Breakfast
4,Rikitea,PF,77.92,-23.1203,-134.9692,Pension Maro'i
16,Mahebourg,MU,78.80,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
18,Makakilo City,US,84.20,21.3469,-158.0858,Marriott's Ko Olina Beach Club
19,Kapaa,US,78.80,22.0752,-159.3190,Sheraton Kauai Resort at Coconut Beach
20,Faanui,PF,82.67,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
21,Hilo,US,80.60,19.7297,-155.0900,Hilo Hawaiian Hotel
31,Butaritari,KI,83.37,3.0707,172.7902,Isles Sunset Lodge
36,Hobyo,SO,82.31,5.3505,48.5268,Halane Hotel and Restaurent
39,Indapur,IN,77.88,18.3000,73.2500,Hotel Open Umbrella

In [34]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [36]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))